/* vim: set sts=2 sw=2 et : */

body {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

strong {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

b {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

h1 {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-size: 44pt;
}

#section-title {
  margin-bottom: 12px;
}

#section-desc {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 17pt;
  line-height: 1.45;
}

.shareme {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.stat-number sup:lang(hi) {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400 !important;
  font-stretch: normal;
  font-size: 22% !important;
  margin-left: 2px;
  margin-right: 2px;
}

.stat-text:lang(hi) {
  font-size: 16pt;
}

.pie-chart-heading {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

cite:lang(hi),
cite a:lang(hi),
#sources:lang(hi),
#notes:lang(hi) {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12pt;
  line-height: 1.3;
}

#notes p,
#sources p {
  margin-bottom: 0.7em;
}

#sources a:not(.normal-anchor) {
  font-style: normal;
}

.related-heading {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

#relatedlinks {
  display: none;
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

#relatedlinks > a:lang(hi) {
  /* Underline goes too far away */
  padding-bottom: 0px;
}
