/* vim: set sts=2 sw=2 et : */

[font-family="'SourceSansPro-Thin'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Light'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Regular'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

[font-family="'SourceSansPro-SemiBold'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Bold'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Black'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

[font-family="'Adelle-Thin'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

[font-family="'Adelle-Light'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

[font-family="'Adelle-Regular'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

[font-family="'Adelle-SemiBold'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

[font-family="'Adelle-Bold'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

[font-family="'Adelle-ExtraBold'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

[font-family="'Adelle-Heavy'"] {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}
