/* vim: set sts=2 sw=2 et : */

[font-family="'SourceSansPro-Thin'"] {
  font-family: "Kohinoor Devanagari Light 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Light'"] {
  font-family: "Kohinoor Devanagari Light 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Regular'"] {
  font-family: "Kohinoor Devanagari Book 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-SemiBold'"] {
  font-family: "Kohinoor Devanagari Demi 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Bold'"] {
  font-family: "Kohinoor Devanagari Medium 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Black'"] {
  font-family: "Kohinoor Devanagari Bold 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Thin'"] {
  font-family: "Kohinoor Devanagari Light 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Light'"] {
  font-family: "Kohinoor Devanagari Light 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Regular'"] {
  font-family: "Kohinoor Devanagari Book 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-SemiBold'"] {
  font-family: "Kohinoor Devanagari Demi 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Bold'"] {
  font-family: "Kohinoor Devanagari Medium 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-ExtraBold'"] {
  font-family: "Kohinoor Devanagari Bold 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Heavy'"] {
  font-family: "Kohinoor Devanagari Bold 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
