/* vim: set sts=2 sw=2 et : */
* {
  margin: 0;
  border: 0;
  outline: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "adelle", serif;
  color: #404040;
}

a {
  text-decoration: underline;
  color: #404040;
}

a:hover {
  text-decoration: none;
}

.italics {
  font-style: italic;
}

#top-color-bar {
  height: 5px;
  background-color: #062F3F;
}

/****
 * BEGIN: Hacks for the footer floating at the bottom
 ****/
#wrapper {
  min-height: 100%;
  height: 100%;
  height: auto !important;
}
/****
 * END: Hacks for the footer floating at the bottom
 ****/

#left-arrow, #right-arrow {
  position: absolute;
  top: 180px;
  font-family: "source-sans-pro", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 1ex;
}

#left-arrow a, #right-arrow a {
  text-decoration: none;
  color: #E2E2E2;
}

#section-title:hover ~ #left-arrow a,
#section-title:hover ~ #right-arrow a, 
#left-arrow a:hover, #right-arrow a:hover {
  color: #828282;
}

#left-arrow {
  left: -50px;
}

#right-arrow {
  right: -50px;
}

#wrapper, #footer-wrapper {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  width: 930px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header {
  padding-top: 50px;
  margin-bottom: 85px;
}

/* Without this, MSIE 7,8 show an underline */
#header > a {
  text-decoration: none;
}

#homelink,
#archivelink,
#bloglink {
  display: inline-block;
  font-size: 13pt;
  font-weight: 700;
  color: #FFF;
}

#homelink {
  background-color: #062F3F;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#bloglink,
#archivelink {
  color: #062F3F;
  background-color: white;
  border: 2px solid #062F3F;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  float: right;
  margin-left: 10px;
}

a > span#homelink:hover {
  background-color: #F75819;
}

a > span#archivelink:hover,
a > span#bloglink:hover {
  background-color: #062F3F;
  color: white;
}

#text {
  margin-bottom: 50px;
}

#section-title {
  margin-bottom: 20px;
  font-size: 40pt;
  font-weight: 900;
  line-height: 1em;
  color: #062F3F;
}

#section-desc {
  font-size: 15pt;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.shareme {
  font-family: "source-sans-pro", sans-serif;
  font-size: 13pt;
  font-weight: 400;
  color: #A0A0A0;
}

.shareme a {
  color: #A0A0A0;
}

/***
 * BEGIN: Display an error message for old browsers that don't support Inline SVG
 ***/
#unsupported-msg {
  visibility: hidden;
  display: none;
  font-size: 24pt;
  text-align: center;
}

#unsupported-msg > #sadface {
  font-size: 48pt;
  color: #F75819;
}

html.no-inlinesvg #head-chart {
  visibility: hidden;
  display: none;
}

html.no-inlinesvg #unsupported-msg {
  visibility: visible;
  display: inline;
}
/***
 * END: Display an error message for old browsers that don't support Inline SVG
 ***/

#sources,
#notes {
  float: left;
  width: 100%;
  margin-top: 50px;
  font-family: "source-sans-pro", sans-serif;
  font-size: 11pt;
  font-weight: 400;
}

#sources {
  color: #C0C0C0;
  margin-bottom: 50px;
}

#notes {
  margin-bottom: 20px;
}

/* When sources is preceded by notes, remove the top margin */
#notes + #sources {
  margin-top: 0px;
}

#notes p,
#sources p {
  margin-bottom: 0.5em;
}

#sources a {
  color: #C0C0C0;
}

#sources a:not(.normal-anchor) {
  font-style: italic;
}

.clearing {
  clear: both;
}

/* BEGIN: Column layout: [__][_] */
.double-col-left {
  float: left;
  width: 605px;
  margin-right: 45px;
}

.single-col-right {
  float: left;
  width: 280px;
}
/* END: Column layout: [__][_] */

/* BEGIN: Column layout: [_][__] */
.single-col-left {
  float: left;
  width: 280px;
  margin-right: 45px;
}

.double-col-right {
  float: left;
  width: 605px;
}
/* END: Column layout: [_][__] */

/* BEGIN: Column layout: [_][_][_] */
.col-1-of-3,
.col-2-of-3,
.col-3-of-3 {
  float: left;
  width: 280px;
  font-size: 11pt;
}

.col-2-of-3 {
  margin-left: 45px;
  margin-right: 45px;
}
/* END: Column layout: [_][_][_] */

/****
 * BEGIN: Hacks for the footer floating at the bottom
 ****/
#push {
  padding-top: 10px;
  /* This should be the same as the footer height */
  padding-bottom: 10px;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 10px;
  /* This should be the negative of the footer height */
  margin-top: -10px;
}
/****
 * END: Hacks for the footer floating at the bottom
 ****/

#footer {
  width: 100%;
  background-color: transparent;
}

#footer-common {
  float: left;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 10px;

  font-family: "source-sans-pro", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #404040;
}

#footer a {
  color: #404040;
}

#footer:not(.not-chart) #footer-common {
  border-top: 1px solid #C0C0C0;
}

#footer.not-chart #footer-common {
  color: #3c8aa7;
}

#footer.not-chart #footer-common a {
  color: #3c8aa7;
}

#footer-common > #internal-links {
  float: left;
  width: 850px;
}

#footer-common > #license {
  float: left;
  width: 80px;
  padding-top: 3px;
}
