/* vim: set sts=2 sw=2 et : */

[font-family="'SourceSansPro-Thin'"] {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 200;
}

[font-family="'SourceSansPro-Light'"] {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
}

[font-family="'SourceSansPro-Regular'"] {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
}

[font-family="'SourceSansPro-SemiBold'"] {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 600;
}

[font-family="'SourceSansPro-Bold'"] {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 700;
}

[font-family="'SourceSansPro-Black'"] {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 900;
}

[font-family="'Adelle-Thin'"] {
  font-family: "adelle", serif;
  font-weight: 100;
}

[font-family="'Adelle-Light'"] {
  font-family: "adelle", serif;
  font-weight: 300;
}

[font-family="'Adelle-Regular'"] {
  font-family: "adelle", serif;
  font-weight: 400;
}

[font-family="'Adelle-SemiBold'"] {
  font-family: "adelle", serif;
  font-weight: 600;
}

[font-family="'Adelle-Bold'"] {
  font-family: "adelle", serif;
  font-weight: 700;
}

[font-family="'Adelle-ExtraBold'"] {
  font-family: "adelle", serif;
  font-weight: 800;
}

[font-family="'Adelle-Heavy'"] {
  font-family: "adelle", serif;
  font-weight: 900;
}
