/* vim: set sts=2 sw=2 et : */

[font-family="'SourceSansPro-Thin'"] {
  font-family: "Fedra Hindi Light";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Light'"] {
  font-family: "Fedra Hindi Light";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Regular'"] {
  font-family: "Fedra Hindi Demi";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-SemiBold'"] {
  font-family: "Fedra Hindi Medium";
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Bold'"] {
  font-family: "Fedra Hindi Bold";
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
}

[font-family="'SourceSansPro-Black'"] {
  font-family: "Fedra Hindi Bold";
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
}

[font-family="'Adelle-Thin'"] {
  font-family: "Fedra Hindi Light";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Light'"] {
  font-family: "Fedra Hindi Light";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Regular'"] {
  font-family: "Fedra Hindi Demi";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-SemiBold'"] {
  font-family: "Fedra Hindi Medium";
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
}

[font-family="'Adelle-Bold'"] {
  font-family: "Fedra Hindi Bold";
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
}

[font-family="'Adelle-ExtraBold'"] {
  font-family: "Fedra Hindi Bold";
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
}

[font-family="'Adelle-Heavy'"] {
  font-family: "Fedra Hindi Bold";
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
}

