@import url("/css/common.css");
/* vim: set sts=2 sw=2 et : */

body {
  background-color: #062F3F;
}

#homelink {
  background-color: #F75819;
  color: #062F3F;
}

a > span#homelink:hover {
  color: #FFF;
}

#bloglink,
#archivelink {
  color: #F75819;
  background-color: #062F3F;
  border-color: #F75819;
}

a > span#bloglink:hover,
a > span#archivelink:hover {
  background-color: #F75819;
  color: #062F3F;
}

a {
  color: #FFF;
}

#right-arrow a {
  color: #5893A0;
}

#section-title:hover ~ #right-arrow a, 
#right-arrow a:hover {
  color: #FFF;
}

#section-title {
  margin-bottom: 50px;
  color: #F75819;
  font-weight: 100;
}

#section-title > span {
  font-weight: 900;
}

#section-desc {
  color: white;
  font-weight: 100;
}

#section-desc a#latest-chart {
  color: #F75819;
  font-weight: 400;
}
