@import url("/css/common.css");
@import url("/css/convert-local-fonts-to-web-fonts.css");
/* vim: set sts=2 sw=2 et : */

#archivelink {
  color: #FFF;
  background-color: #062F3F;
}

.archive-post {
  float: left;
  margin-bottom: 50px;
}

.archive-post .single-col-left,
.archive-post .single-col-left a {
  font-family: "source-sans-pro", sans-serif;
  line-height: 1.3;
  color: #A0A0A0;
}

.archive-post .week {
  font-weight: 300;
  font-size: 14pt;
  margin-top: 15px;
}

.archive-post .date {
  font-weight: 700;
  font-size: 13pt;
}

.archive-post a:lang(hi) {
  font-family: "Kohinoor Devanagari Demi 2";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  padding-bottom: 0px;
}

.archive-post .title {
  font-size: 27pt;
  /* NOTE: does not match h1 line-height -- on purpose? */
  line-height: 1.1;
  margin-bottom: 15px;
}

.archive-post .title a {
  color: #062F3F;
  text-decoration: none;
}

.archive-post .title a:hover {
  color: #F75819;
}

.archive-post .desc {
  font-size: 12pt;
}

.archive-post a.before-hi {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid;
}

.archive-post a.before-hi:hover {
  border-bottom: 0;
}
