@import url("/css/common.css");
@import url("/css/convert-local-fonts-to-web-fonts.css");
/* vim: set sts=2 sw=2 et : */

#head-chart {
  float: left;
}

#pie-charts,
#sitting-members,
#india-map,
#various-stats
{
  float: left;
  margin-bottom: 55px;
}

/* Pie charts */
.pie-chart-heading {
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#pie-chart-text > div {
  margin-bottom: 30px;
}

span.percent {
  color: #9BC9CE;
}

span.legend-women-box,
span.legend-men-box {
  display: inline-block;
  letter-spacing: 1px;
  font-family: 'source-sans-pro', sans-serif;
  font-weight: 900;
  font-size: 14pt;
  color: white;

  line-height: 1.2ex;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

span.legend-women-box {
  background-color: #598E9B;
  margin-right: 10px;
}

span.legend-men-box {
  background-color: #9BC9CE;
}

#pie-chart-text > #legend-text {
  font-weight: 300;
  font-size: 20pt;
  line-height: 1.2;
}

#pie-chart-text > #legend-text > span#legend-huge-text {
  display: block;
  color: #598E9B;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  font-size: 82pt;
  line-height: 1.5ex;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* India map chart */
#india-map div#india-map-text {
  margin-bottom 20px;
}

#india-map div#india-map-text-1 {
  font-weight: 300;
  font-size: 20pt;
  line-height: 1.2;
}

#india-map div#india-map-text-2 > span {
  display: inline-block;
  vertical-align: middle;
  color: #598E9B;
  font-family: "source-sans-pro", sans-serif;
  line-height: 1.5ex;
  margin-top: 15px;
  margin-bottom: 10px;
}

#india-map div#india-map-text-2 > span:first-child {
  font-weight: 400;
  font-size: 46pt;
  width: 70%;
  text-align: left;
}

#india-map div#india-map-text-2 > span:last-child {
  font-weight: 300;
  font-size: 86pt;
  width: 30%;
  text-align: right;
}

#india-map div#india-map-text-3 {
  font-size: 20pt;
  line-height: 1.2;
}

#india-map div#india-map-legend {
  color: white;
  font-size: 11pt;
  margin-top: 55px;
}

#india-map div#india-map-legend > div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
}

#india-map div#india-map-legend-none {
  background-color: #D1D2D4;
}

#india-map div#india-map-legend-less {
  background-color: #9BC9CE;
}

#india-map div#india-map-legend-5 {
  background-color: #598E9B;
}

#india-map div#india-map-legend-15 {
  background-color: #306272;
}

#india-map div#india-map-legend-more {
  background-color: #14373F;
}

/* Various statistics about women in the Lok Sabha */
#various-stats div {
  text-align: center;
}

#various-stats div.stat-number {
  font-family: "source-sans-pro", sans-serif;
  color: #598E9B;
  font-weight: 300;
  font-size: 112pt;
  line-height: 1.5ex;
  margin-bottom: 30px;
}

#various-stats div.stat-text {
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.2;
}

/* Sitting members statistics */
#sitting-members {
  margin-top: 20px;
}

#sitting-members div#sitting-members-legend {
  margin-bottom: 30px;
}

#sitting-members div#sitting-members-heading {
  font-weight: 300;
  font-size: 20pt;
  margin-bottom: 30px;
}

#sitting-members div.sitting-members-text {
  font-weight: 300;
  font-size: 15pt;
  line-height: 1.2;
  margin-bottom: 20px;
}
